<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="text-center">Lista de Tareas</h2>
    <button (click)="toggleForm()" class="btn btn-primary">Registrar Tarea</button>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead class="table-dark">
        <tr>
          <th>Titulo</th>
          <th>Descripcion</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks; let i = index">
          <td>{{ task.titulo }}</td>
          <td>{{ task.descripcion }}</td>
          <td [ngClass]="{'text-success' : task.estado === 1, 'text-danger': task.estado === 2}">
            {{ task.estado === 1 ? 'Disponible' : 'No Disponible' }}
          </td>
          <td>
            <button class="btn btn-warning" (click)="editarTarea(task)">Editar</button>
            <button class="btn btn-danger" (click)="task.id ? eliminarTarea(task.id) : null">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
<!-- Comienza el formulario -->
    <div *ngIf="showForm" style="margin-top: 20px;">
      <h3>{{textoModal}}</h3>
      <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
        <input hidden formControlName="id" readonly/>
        <div class="form-group">
          <label for="titulo">Titulo</label>
          <input id="titulo" class="form-control" formControlName="titulo"
            pattern="^\S.*$" placeholder="Titulo"/>
        </div>
        <div class="form-group">
          <label for="descripcion">Descripcion</label>
          <input id="descripcion" class="form-control" formControlName="descripcion"
            pattern="^\S.*$" placeholder="Descripcion"/>
        </div>
        <div class="form-group">
          <label for="status">Estado</label>
          <select name="status" id="estatus" class="form-control" formControlName="status">
            <option value="1">Disponible</option>
            <option value="2">No Disponible</option>
          </select>
        </div>
        <button type="submit" class="btn btn-success" [disabled]="taskForm.invalid" style="margin-top: 20px;">
          Guardar
        </button>
      </form>
    </div>
  </div>
</div>